<!DOCTYPE html>
{% load static%}
<html lang="en">

  <head>    <title>Binocular_app | Html examples</title>
    <link rel="icon" href="{%static 'binocular_app/images/binocular_emblem.jpg' %}">
    {%include 'binocular_app/common/commoncss.html'%}
    <link href="static/binocular_app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/binocular_app/assets/css/fontawesome.css">
  </head>
  <body>
    <header>{%include 'binocular_app/common/navbar.html'%}</header>
     
    <div class=" row tutoriallayout">
        <div class="col-md-2 menubar">{%include 'binocular_app/common/html_menubar.html'%}

        </div>
        <div class="col-md-8 mainarea"> 
            <h2 class="heading2" >Html Examples </h2>
            <div class="container tutorialinfo">
                These are some HTML Examples for your better understanding.<br><br>
                <div class="container example" >
                    <h4>Example</h4>
                    <div class="container code"> 
                         <code><xmp>{%include 'binocular_app/tutorial_html/html_examples/hello.html'%} </xmp></code>
                    </div>
                    <h5>Output:</h5>
                    <div class="container code" height="auto">
                        {%include 'binocular_app/tutorial_html/html_examples/hello.html'%}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-2 sidebar"> Side Bar </div>
    </div>
     
    <footer>{%include 'binocular_app/common/footer.html'%}</footer>
    
    {%include 'binocular_app/common/commonjs.html'%}  
    <script src="{% static 'binocular_app/js/validation.js'%}">
    </script>
 </body>
</html>