{% load static%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" 
integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" 
referrerpolicy="no-referrer" />
<style>
 
    .navbar{ float:left; width:100%;}
    .nav-link{ padding:5px 10px;}
    
    .facilities{background:  #0278AE;}
    .feature_item{ border:4px solid white;
                    border-radius:10px;
                    text-align:center;
                    color:white;
                    padding:10px ; margin:5px;
                 }
    section{padding:20px;}
    .heading4,.feature_box{margin:10px; }
    .default-btn{border:1px solid white;border-radius:40px;color:white; background:  #0278AE;padding:10px 15px; text-decoration:none;}
    .default-btn:hover{ background:#0278ca;}
    .default-btn:focus{background:#0278fa;}

    .section_title{margin:10px; color:white;}
    .example{background-color:lightgrey; padding:5px 10px 5px 10px;}
    .code{background-color:white; height:auto;font-size:17px; padding:1px 10px;
        margin:10px 0px 5px 0px; 
         }
    .heading2{text-align:center;color:white;}
    .feature_window{text-align:center;}
    .python{background-color:lightpink;}
    .html{background-color:skyblue;}
    

    .basicabout,.tutoriallayout{width:100%;}
    .aboutinfo{background-color:white; color:black; 
        margin-bottom:10px;padding:30px;font-size:16;}
    .mainarea{color:white; background:  #0278AE; #Cloisonne }
    .sidebar{background-color:white; }

    .menubar{background-color:white;  padding:5px;position:relative; overflow-x:auto: overflow-y:scroll;}
    .menubtn{padding:10px;  text-decoration:none; color:black;}
    .menubtn:hover{color:white; background:  #0278AE; }

    .tutorialinfo{background-color:white; margin-bottom:15px; 
        padding:10px; color:black;
                 }
    .htmltag{width:100%; text-align:center;
    }
    .htmltag th,td{ border-width:4px; border-color:lightgrey; padding:5px 0px;}
    
    xmp{color:#0278AE; word-wrap: break-word; white-space: pre-wrap;  word-break: break-word;}
</style>