
{% load static %}

<footer class="bg-white text-center text-black">
    <div class="container p-2 pb-0">
        <section class="mb-4">
            <!-- Twitter -->
            <a class="btn text-white btn-floating m-1" 
               style="background-color: #55acee;" href="#!" role="button">
                    <i class="fab fa-twitter"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn text-white btn-floating m-1"
               style="background-color: #0082ca;" href="#!" role="button">
                    <i class="fab fa-linkedin-in"></i>
            </a>

             <!-- Instagram -->
            <a class="btn text-white btn-floating m-1"
               style="background-color:#E1306C;" href="#!" role="button">
                    <i class="fab fa-instagram"></i>
            </a>

             <!-- email -->
             <a class="btn text-white btn-floating m-1"
             style="background-color: red;" href="#!" role="button">
                  <i class="fa fa-envelope"></i>
          </a>
        </section>
    </div>
    <img src="{%static 'binocular_app/images/binocular_logo.jpg' %}" height="100px">
    <div class="text-center " ><br>
         binocular ©2024 
    </div>
</footer>