{% load static%}
<h4 class="heading4">Tutorial HTML</h4>
<ul class="navbar-nav d-flex row-flex">
<li> <a class="nav-link menubtn" href="{{'/html_intro'}}">HTML Intro</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_attributes'}}">HTML Attributes</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_head'}}">HTML Head</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_headings'}}">HTML Headings</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_paragraphs'}}">HTML Paragraphs</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_comments'}}">HTML Comments</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_text_formatting'}}">HTML Text Formattings</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_quotation'}}">HTML Quotation</a></li>
<li> <a class="nav-link menubtn" href="{{'/html_links'}}">HTML Links</a></li>{% comment %} currently {% endcomment %}
<li> <a class="nav-link menubtn" href="{{'/html_examples'}}">HTML Examples</a></li>
</ul>