
{% load static %}

<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid ">
        <ul class="navbar-nav flex-row" >
            <li class=""><a class=" menubtn" href="{{'/'}}">Home</a> </li>
            <li class=""><a class=" menubtn" href="{{'/aboutus'}}">AboutUs</a> </li>
            <li class=""><a class=" menubtn " href="{{'/codingexample'}}"> CodingExamples </a></li>
            <li class=" logo"><img src="{%static 'binocular_app/images/binocular_logo.jpg' %}" width="40%"></li>
            
        </ul>
    </div>
</nav>